<mat-grid-list cols="2" rowHeight="60px">
  <mat-grid-tile>
    <div class="page-title">
      <h1 class="mat-headline text">{{title}}</h1>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="button-panel-wrapper">
      <div class="button-panel">

        <button mat-button [matMenuTriggerFor]="filter">
          <mat-icon>search</mat-icon>
          Поиск
        </button>
        <mat-menu #filter="matMenu">
          <button mat-menu-item class="button-margin" (click)="search()">Поиск</button>
          <button mat-menu-item class="button-margin" (click)="clean()">Очистить</button>
          <button mat-menu-item class="button-margin">Экспортировать в файл</button>
        </mat-menu>



        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
          Действия
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item color="green" routerLink="/customer-create">Добавить</button>
        </mat-menu>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>
<div class="page-content-wrapper" [ngStyle]="{'height':innerHeight+'px'}">

  <form [formGroup]="formGroup" (keydown)="keyDownFunction($event)">

    <mat-form-field appearance="standard" class="example-full-width search-item">
      <mat-label>Название</mat-label>
      <input matInput placeholder="Название" formControlName="keyWord">
    </mat-form-field>
    <mat-form-field appearance="standard" class="search-item">
      <mat-select placeholder="Статус" formControlName="status">
        <mat-option *ngFor="let userStatus of userStatuses" [value]="userStatus.value">
          {{userStatus.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="content-wrapper-list">
    <div class="content-wrapper-item">
      <table mat-table [dataSource]="dataSource" [ngStyle]="{'width':'100%'}">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Имя </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Статус </th>
          <td mat-cell *matCellDef="let element"
            [ngClass]="{'status-created': element.status == 0,'status-started': element.status == 1, 'status-finished': element.status == 2, 'status-stopped': element.status == 3}">
            {{getStatus(element.status)}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Действие </th>
          <td mat-cell *matCellDef="let element">
            <a mat-raised-button color="primary" class="button-margin" mat-stroked-button
              routerLink="/customer-update/{{element.id}}">Изменить</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [length]="itemsCount" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"
        showFirstLastButtons></mat-paginator>
    </div>
    <div class="content-wrapper-item">

    </div>
  </div>

</div>
