<mat-accordion #accordion="matAccordion" displayMode="flat" multi="true" [ngClass]="{'hidden': isPanelHidden()}">
  <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-list>
      <mat-list-item><a [routerLink]="['/dashboard']" routerLinkActive="active"><span>Сводки</span></a></mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="false" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
    [ngClass]="{'hidden': (!this.userProfile?.uiPermissions?.navigationBar_Administration)}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Управление
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item><a [routerLink]="['/user-profiles']" routerLinkActive="active"><span>Пользователи</span></a>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
