<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div>

  </div>

  <!-- This is the content of the dialog, containing a list of the files to upload -->
  <mat-dialog-content>
    <div class="content-wrapper">
      <table>
        <tr *ngFor="let item of data.choiceList; let i=index">
          <td>
            <mat-checkbox class="example-margin" [(ngModel)]="data.choiceList[i].checked"
              [disabled]="(data.choiceList[i].checked == false && (checkSum + data.choiceList[i].value > data.valueMaxSum))" (change)="isEnabled($event)">
              {{item.name}}
            </mat-checkbox>
          </td>
          <td>
            <mat-checkbox *ngIf="(data.choiceList[i].metaData != null)" class="example-margin"
              [disabled]="(data.choiceList[i].checked == false && (checkSum + data.choiceList[i].value > data.valueMaxSum))"
              [(ngModel)]="data.choiceList[i].metaData">
              по убыванию
            </mat-checkbox>
          </td>
        </tr>
      </table>
    </div>
  </mat-dialog-content>

  <!-- This are the actions of the dialog, containing the primary and the cancel button-->
  <mat-dialog-actions class="actions">
    <button mat-raised-button color="primary" (click)="closeDialog()">сохранить</button>
  </mat-dialog-actions>
</div>