.add-files-btn {
    float: right;
  }
  
  :host {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .actions {
    justify-content: flex-end;
  }
  
  .container {
    height: 100%;
  }
  .content-wrapper{
  display: block;
  width: 100%;
  min-height: 50px;}  