.label-wrapper
    display: flex
    box-sizing: border-box
    width: 100%
    flex-direction: row
    align-items: center
    white-space: nowrap
.buttonMenu
    background: #7b7b7b
    margin-right: 10px
.buttonMenu.checked
    background: #efefef