<mat-toolbar class="app-navbar">

  <button (click)="navigationUpdate()" mat-stroked-button class="buttonMenu"
    [ngClass]="{'checked': uiConfigurationModel.MobileNavigationMenuVisible, 'hidden': buttonMenuHidden}">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="label-wrapper">
    <mat-icon style="color: #fff;font-size: 24px;">border_style</mat-icon>
    <span _ngcontent-c5="" style="color: #e5e5e5;">Qtee</span>
  </a>
  <div class="top-menu-wrapper">


    <button mat-button [matMenuTriggerFor]="menuProfile" style="color: #e5e5e5;"
      [ngClass]="{'hidden': (this.userProfile == null)}">
      <mat-icon>account_circle</mat-icon> {{userProfile?.fullName}} ({{roleName}})
    </button>
    <mat-menu #menuProfile="matMenu" [ngClass]="{'hidden': (this.userProfile == null)}">
      <button mat-menu-item (click)="logout()">
        <mat-icon>clear</mat-icon>Выход
      </button>
    </mat-menu>
  </div>
</mat-toolbar>