<mat-grid-list cols="1" rowHeight={{innerHeight}}>
  <mat-grid-tile class="title-center">
    <div>
      <div class="page-title">
        <h1 class="mat-headline text">Авторизация</h1>
      </div>
      <form [formGroup]="formGroup" (keydown)="keyDownFunction($event)">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Логин</mat-label>
            <input matInput placeholder="Логин" formControlName="login" required>
            <mat-icon matSuffix>perm_identity</mat-icon>
          </mat-form-field>
        </p>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Пароль</mat-label>
            <input matInput placeholder="Пароль" type="password" formControlName="password" required>
            <mat-icon matSuffix>fingerprint</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-checkbox *ngIf="false" formControlName="rememberMe">Запомнить</mat-checkbox>
        </div>

        <p>
          <button class="login-button" mat-button color="#0069c0" mat-stroked-button (click)="check()">Войти</button>
        </p>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>
