<app-top-panel [(navigation-opened)]="opened"></app-top-panel>

<mat-sidenav-container autosize>
    <mat-sidenav class="section-navigation" [ngClass]="{'full-width': hasMaxWidthNavigationBar}" #sidenav mode="side" [(opened)]="opened">
        <app-navigation-bar></app-navigation-bar>
    </mat-sidenav>
    <mat-sidenav-content #sideNavContainer>
        <router-outlet></router-outlet>
        <router-outlet name='left'></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-snack-error></app-snack-error>
<app-snack-success></app-snack-success>
<app-loader></app-loader>