

    <mat-grid-list cols="2" rowHeight="60px">
      <mat-grid-tile>
        <div class="page-title">
          <h1 class="mat-headline text">{{title}}</h1>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>

    <div class="page-content-wrapper" [ngStyle]="{'height':innerHeight+'px'}">
      <div class="form-item" class="form-wrapper">

        <form [formGroup]="formGroup" (keydown)="keyDownFunction($event)">
          <p>
            <mat-form-field>
              <input matInput placeholder="Наименование" formControlName="name" required>
              <mat-error *ngIf="formGroup.controls['name'].invalid && formGroup.controls['name']?.errors?.required != true">{{formGroup.controls['name']?.errors}}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-error  *ngIf="formGroup.controls['status'].invalid">{{formGroup.controls['status']?.errors}}</mat-error>
              <mat-select placeholder="Статус" formControlName="status" required>
                <mat-option *ngFor="let item of statusList" [value]="item.key">
                  {{item.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <div>
            <p>
            </p>
          </div>
        </form>
        <p class="button-panel">
          <button mat-raised-button class="button-margin" mat-stroked-button (click)="processAction()">Добавить</button>
          <button mat-raised-button color="primary" class="button-margin" mat-stroked-button (click)="itemCancel()">Отмена</button>
        </p>
      </div>
    </div>