@import 'styles/variables.sass'

//Common->

$color-blue-pale: #6c78b9
$color-green-pale: #27770d
$color-red-pale: #f35247
$color-red: #f44336
$link-color: $color-red //$do-900

//Page-->

.p-1
    padding: 10px
.p-2
    padding: 20px
.full-width
    width: 100% !important
//Form-->
.c-pointer
    cursor: pointer !important
.hidden
    display: none !important

body
    padding: 0px
    margin: 0px
.routing-tab-group .mat-tab-link
    height: 28px !important

.section-navigation .mat-list a
    text-decoration: none
    color: #7b7b7b
    cursor: pointer
.section-navigation .mat-list a:hover
    color: #676767
.section-navigation .mat-list a span
    border-bottom: 1px dashed #bdbdbd
    cursor: pointer
.section-navigation .mat-list a:hover span
    border-bottom: none
.section-navigation .mat-list a.active
    color: $link-color
.section-navigation .mat-list a.active span
    border-bottom: 1px dashed $link-color
.page-content-wrapper
    width: 100%
    display: block    
.form-wrapper
    overflow: hidden
    padding: 0 24px 24px 24px
.app-navbar 
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 2
    height: 44px !important
    background: $g-800
.mat-drawer-container
    display: flex
    flex-direction: column
    position: absolute
    top: 44px
    bottom: 0
    left: 0
    right: 0
    height: 96vh
.mat-row.ng-star-inserted:hover
        background: #eee
.purchaseInfoForm .mat-form-field-infix
    width: 430px !important
.red-font
    color: #df0000

.button-border-light   
    border: 1px solid #f1f1f1 !important
    border-bottom: 1px solid #e2e2e2 !important

.mat-button.mat-green, .mat-icon-button.mat-green, .mat-stroked-button.mat-green 
    color: #00a20e

.mat-button.mat-green .mat-button-focus-overlay, .mat-icon-button.mat-green .mat-button-focus-overlay, .mat-stroked-button.mat-green .mat-button-focus-overlay 
    background-color: #36f43c !important

.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button 
    color: rgba(255, 255, 255, 1)
    background-color: $color-green-pale

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary
    background-color: $color-blue-pale
    
.mat-fab.mat-warn, .mat-flat-button.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn
    background-color: $color-red-pale

.page-title
    width: 100%
.page-title .text
    padding-left: 11px
    margin: 0
.title 
    display: flex
    align-items: flex-end
    justify-content: left
    height: 58px
    background: #fff
.title .text
    padding-left: 11px
    margin: 0px
    color: #595959
    font-weight: normal
    
.button-panel-wrapper
    width: 100%
.button-panel 
    display: flex
    align-self: center
    justify-content: flex-end
.button-panel .button-margin
    margin: 0px 10px
.greed-buttons-wrapper 
    width: 120px
.greed-buttons-wrapper .button-margin
    margin: 0px 4px
.mat-mini-fab .mat-button-wrapper
    padding: 5px 0
    display: inline-block
    line-height: 0px
.mat-mini-fab .mat-button-wrapper
    padding: 0px !important
button.mat-mini-fab
    width: 32px
    height: 32px
    line-height: 25px
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background 
    background-color: $color-red !important



.search-item
    margin-right: 14px
    margin-left: 16px

.form-item   
    padding-left: 14px

    
.icon-excel
    height: 30px


.top-menu-wrapper
    width: 100%
    display: flex
    align-self: center
    justify-content: flex-end

.snack-result-error
    background: #c50e00 !important
    color: #ffffff !important
    font: 100 100% Roboto,"Helvetica Neue",sans-serif !important

.snack-result-success
    background: #229235 !important
    color: #ffffff !important
    font: 100 100%Roboto,"Helvetica Neue",sans-serif !important

app-snack-error.ng-star-inserted .message, app-snack-success.ng-star-inserted .message
    display: flex !important
    align-items: center !important
    justify-content: center !important
app-snack-error.ng-star-inserted .text, app-snack-success.ng-star-inserted .text
    padding-right: 8px


.account-card .mat-card-header-text
    margin: 0px !important

.purchase-dialog
    font-family: Roboto,"Helvetica Neue",sans-serif !important


.loader-container    
    display: none
    z-index: 9999
    background-color: rgba(255, 255, 255, 0.6)
    position: absolute
    margin: 0px
    padding: 0px
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    align-items: center
    justify-content: center

.is-loader-open .loader-container
    display: -webkit-flex
    display: flex

.progress-file-not-loaded > div.mat-progress-bar-buffer
  background-color: #ffa4a4 !important
