

    <mat-grid-list cols="2" rowHeight="60px">
      <mat-grid-tile>
        <div class="page-title">
          <h1 class="mat-headline text">Сводки</h1>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-divider></mat-divider>
    <div class="page-content-wrapper" [ngStyle]="{'height':innerHeight+'px'}">


      <div class="content-wrapper-list">
        <div class="content-wrapper-item">
          <mat-card _ngcontent-c15="" class="docs-component-category-list-card mat-card">
            <mat-card-title _ngcontent-c15="" class="mat-card-title">Подтверждение <mat-icon matBadge="2"
                matBadgeColor="warn" matBadgePosition="after" class="dashbord-warning">warning</mat-icon>
            </mat-card-title>
            <mat-card-content _ngcontent-c15="" class="docs-component-category-list-card-summary mat-card-content">

              <mat-grid-list cols="5" rowHeight="60px">
                <mat-grid-tile colspan="3">
                  <div>
                    Закупки ожидают подтверждения.
                  </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                  <div>
                    <button mat-raised-button color="primary"  mat-stroked-button (click)="check()" matBadgeColor="accent">
                      перейти
                    </button>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>

            </mat-card-content>
          </mat-card>
        </div>
        <div class="content-wrapper-item">
          <mat-card _ngcontent-c15="" class="docs-component-category-list-card mat-card">
            <mat-card-title _ngcontent-c15="" class="mat-card-title">Незавершенные закупки<mat-icon class="dashbord-info">info</mat-icon>
            </mat-card-title>
            <mat-card-content _ngcontent-c15="" class="docs-component-category-list-card-summary mat-card-content">В работе находятся <strong>10</strong> закупок.</mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>