.content-wrapper-list
    display: flex
    flex-wrap: wrap
    padding: 20px
.content-wrapper-item
    display: inline-block
    margin: 20px
    vertical-align: top
    width: 260px
.dashbord-warning
    color: #f7b91d
.dashbord-info
    color: #4f87c7
.dashbord-warning-badge
    background: #f51c1c